body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gameBoard {
    border: 2px solid #A9DFBF; 
    width: 90%;    
    display: flex;
    flex-wrap: wrap; 
}

.block {
    width: 2.5%;
    padding-bottom: 2.5%;
    border-right: 1px solid #E8F6F3;
    border-bottom: 1px solid #E8F6F3;    
    box-sizing: border-box;
}